*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.list_of_rooms_hearder{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

@media (max-width:500px){
    .list_of_rooms_hearder h2,h3{
        font-size: 12px;
        
    }
}
